<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Families</title>
</head>


<body>

  <div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
    <h1>This is the Families page</h1>
    <h4 class="col-xs-4 text-left">Family Name</h4>
    <h4 class="col-xs-4 text-center">Head of House</h4>
    <h4 class="col-xs-4 text-right">Address</h4>
    <% @families.each do |family| %>
    <ul class="col-xs-4 text-left">
    	<%= family.fam_name %>
    </ul>
    <ul class="col-xs-4 text-center">
    	<%= family.h_o_h %>
    </ul>
    <ul class="col-xs-4 text-right">
    	<%= family.address %>
    </ul>
    <% end %>
  </div>

  <div>
    <%= link_to 'Add a Family', new_family_path %>
    <%# eventually we should make it possible to add multiple families at the same time. %>
  </div>

</body>
</html>



