<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Families</title>
</head>


<body>

  <div class="row text-center">
    <h1>This is the Families page</h1><!-- 
    <h4 class="col-xs-4 text-left">Family Name</h4> -->
    <h4 class="col-xs-12 text-left">Head of House</h4>
    <% @families.each do |family| %>
<!--     <ul class="col-xs-4 text-left">
    	<%# family.members.first.pluck() %>
    </ul>
 --><ul class="col-xs-12 text-left">
      <li>
    	<%= family.members.first.full_name.split(',').first %>
    </li>
    </ul>
  </br>
</br>

    <% end %>
  </div>

  <div class="text-right">
    <%= link_to 'Add a Family', new_family_path %>
    <%# eventually we should make it possible to add multiple families at the same time. %>
  </div>

</body>
</html>



