<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Home</title>
</head>

<body>

  <div class="jumbotron">
    <div class="container text-center">
      <h1>Home Teaching Tracker</h1>
      <p>Stats Tracking Made Easy</p>
      <p><%= time_tag(Date.today) %></p>
    </div>
  </div>
  
</body>
</html>
