<html>
<head>
  <meta charset="UTF-8">
  <title>Routes_Show</title>
</head>
<body>
  
  <div>
    <h4 class="row text-center">Families</h4>
  </div>
  <div>
    <h4 class="col-xs-4">Head of Household</h4>
    <h4 class="col-xs-4 col-offset-4">Address</h4>
    <h4 class="col-xs-4 col-offset-8">placeholder</h4>
  </div>
  <div>
    <% @route.families.each do |family| %>
      <ul class="col-xs-4">
          <%= family.members.hh_order(1).preferred_name %>
      </ul>
      <ul class="col-xs-4 col-offset-4">
          <%= family.member.hh_order(1).street_1 %>
      </ul>
      <ul class="col-xs-4 col-offset-8">
          <%= family.id %>
      </ul>
    <% end %>
  </div>

</body>
</html>